# /etc/systemd/system/vault-snapshot-agent.service
[Unit]
Description=Vault Snapshot Agent

[Service]
ExecStart=/usr/bin/vault-snapshot-agent
User=vault
Group=vault
ProtectSystem=full
ProtectHome=read-only
NoNewPrivileges=yes
